<header class="header">
  <div class="container">
    <a href="index.html" class="logo">
      <img src="assets/images/nitrologo.png" alt="Nitro Security GH Logo" />
    </a>

    <nav class="navbar">
      <div class="navbar-overlay"></div>
      <ul class="nav-links">
        <li><a href="index.html" class="">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <div class="mobile-menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>
